<!DOCTYPE HTML>
<html>
	<head>
		<title>Covid Relief Homepage</title>

		<link rel="stylesheet" href="../../static/style.css" />
	</head>
	<body>
		<h2>Covid Relief Home</h2>

		<p><b>Active cases: </b>{{Active}}</p>
		<p><b>Recovered: </b>{{Recovered}}</p>
		<p><b>Uninfected: </b>{{Uninfected}}</p>

		<a href="{% url 'login'%}">login</a>
		<a href="{% url 'register'%}">register</a>

		<div class="RPFDA">
			<h3>Recomended Procedures For Daily Activities</h3>
			<ul>
				<li>In general, the more closely you interact with others and the longer that interaction, the higher the risk of COVID-19 spread.</li>
				<li>If you decide to engage in public activities, continue to protect yourself by practicing everyday preventive actions.</li>
				<li>Keep these items on hand when venturing out: a face mask, tissues, and a hand sanitizer with at least 60% alcohol, if possible.</li>
			</ul>
			<p>Best Practices would be to:</p>
			<ul>
				<li>Wash your hands often. This should be for at least 20 seconds. Wash your hand after interacting with people or touching things that a lot of people touch.</li>
				<li>Social Distance when possible. The recomended distance is 6ft or further. Try to avoid situations that don't allow social distancing.</li>
				<li>Wear a mask. <b>Masks should be worn over the nose</b> and mouth. Masks should be worn even when social distancing. A mask will protect others if you are infected and not showing symtoms. It will also give you some protection from the virus.</li>
		</div>
	</body>
</html>