<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>

		<!-- The next 3 links are for bootstrap -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
		<!-- end of bootstrap stuff -->

		<link rel="stylesheet" href="../../static/style.css" />
	</head>
	<body>
		<h2>Register</h2>
		<form method = "post" target = "_blank" action = "">
		<fieldset>
		<br><label>First Name:</label><input type="text" name="username">
		<br><label>Password:</label><input type="password" name="password">
		<br><label>Re-Enter Password:</label><input type="password" name="pwd-check">
		<br ><label>Infection Status:</label>
		<select name="status">
		<option value="1" disabled selected>Please Select</option>
		<option value="2">Uninfected</option>
		<option value="3">Infected</option>
		<option value="4">Recovered</option>
		<option value="5">Choose not to Answer</option>
		</select>
		<br><label></label><input type="submit" value="Submit">
		</fieldset>
		</form>
		<p>Already Registered?<a href = "login.html">Login here</a></p>
	</body>
</html>